# dependencies
/node_modules
/.pnp
.pnp.js

# testing / coverage
/coverage

# next.js
/.next/
/out/
/build

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files (secrets: DB creds, NEXTAUTH_SECRET) — NEVER commit
.env
.env*.local

# vercel
.vercel
